<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:object="${pizza}">
	<h1>Pizza:</h1>
	<h2>
		<a th:href="@{/pizzas/{id}/discount/create (id=*{id})}">
			Crea nuova offerta speciale
		</a>
	</h2>
	<div>
		[[*{name}]] - [[*{price}]]<br>
		[[*{description}]] <br>
		<img th:src="*{photo}" />		
	</div>
	<div
		th:if="*{discounts.size() > 0}"
	>
		<h3>Offerte speciali:</h3>
		<ul>
			<li
				th:each="discount : *{discounts}"
				th:object="${discount}"
			>
				[[*{title}]] - 
				<a th:href="@{/discount/edit/{id} (id=*{id})}">EDIT</a>
			</li>
		</ul>
	</div>
	<div
		th:if="*{ingredients.size() > 0}"
	>
		<h3>Ingredients:</h3>
		<ul>
			<li
				th:each="ingredient : *{ingredients}"
				th:object="${ingredient}"
			>
				[[*{name}]]
			</li>
		</ul>
	</div>
</body>
</html>