<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Books:</h1>
	<form>
		<label for="search">SEARCH</label>
		<input id="search" type="text" name="q" th:value="${q}">
		<input type="submit" value="SEARCH" > 		
	</form>
	<a href="/books/create">CREATE</a> <br>
	<a href="/books/borrow">ADD BORROWING</a>
	<ul>
		<li
			th:each="book : ${books}"
			th:object="${book}"
		>
			<a
				th:href="@{/books/{id}(id=*{id})}"
			>
				[[*{title}]] - [[*{author}]] <br>
				[[*{isbn}]]				
			</a>
			- 
			<a th:href="@{/books/edit/{id} (id=*{id})}">EDIT</a>
			- 
			<form 
				style="display:inline-block"
				th:action="@{/books/delete/{id} (id=*{id})}"
				method="POST">
			
				<input type="submit" value="DELETE">	
			</form>
			<br>
			<ul>
				<li
					th:each="borrowing : *{borrowings}"
					th:object="${borrowing}"
				>
					[[*{name}]] - [[*{date}]]
				</li>
			</ul>
		</li>
	</ul>
</body>
</html>